.coaching-staff 
  .container 
    h2.title Тренерский состав

    .list 
      .item
        .item__wrapper
          +svg('about')(class='icon')
          img(src=require("/assets/images/doctors/1.png"), alt="" class='img')
        .item__content
          h4 Оптик - оптометрист
          h5 Кристина Загвоздина
      .item
        .item__wrapper
          +svg('about')(class='icon')
          img(src=require("/assets/images/doctors/1.png"), alt="" class='img')
        .item__content
          h4 Оптик - оптометрист
          h5 Кристина Загвоздина
      .item
        .item__wrapper
          +svg('about')(class='icon')
          img(src=require("/assets/images/doctors/1.png"), alt="" class='img')
        .item__content
          h4 Оптик - оптометрист
          h5 Кристина Загвоздина
      