include ../../components/svg.pug
.section.virtualt-tour
  .container 
    .virtualt-tour__wrapper
      img(src=require('/assets/images/bg/dzhalilskiy.png'), alt="")
      .tour 
        +svg('compas').tour__icon
        .tour__title Виртуальный тур <br/> по санаторию