include ../../components/svg.pug
.section
  .introduction-type-1.introduction-dzhalilskiy 
    .container
      h2.title Джалильский
      .introduction__wrapper
        .introduction__top
          h3.introduction__title Островок спокойствия <br/> и всеобъемлющей заботы
        .introduction__bottom
          p.introduction__text Санаторий «Джалильский» — идеальный вариант для тех, кто ценит размеренный уединенный отдых. Одновременно профилакторий вмещает не более 60 гостей, которые могут пройти здесь программы оздоровления, восстановления или просто отдохнуть и набраться сил.
          .drop
            +svg('drop').drop__icon
            p Собственная скважина йодо-бромной воды и современное оборудование обеспечивают эффективное лечение различных групп заболеваний.
        div(class='overflow-hidden introduction__slider')
          .accept-slider
            .swiper-wrapper
              .swiper-slide
                img(src=require('/assets/images/wooman-bass.png'))
              .swiper-slide
                img(src=require('/assets/images/aerobika.png'))
            
            button.btn-prev
              +svg('back-line')
            button.btn-next
              +svg('forward-line')
        include ../../components/select/index.pug
        include ../../components/button.pug
        a(href="http://dzhalilskiy.tatneft.ru/?lang=ru").book 
          +select('Заезд / Выезд', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
          +select('Гости', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
          +select('Промокод', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
          +button('Забронировать','orange')(type='submit')       
      