include ../svg.pug
.accept-slider
  .swiper-wrapper
    .swiper-slide
      img(src=require('/assets/images/child-sport.png'))
    .swiper-slide
      img(src=require('/assets/images/child-flower.png'))
  
  button.btn-prev
    +svg('back-line')
  button.btn-next
    +svg('forward-line')
  //- .swiper-pagination
