.restaurant-maintenance
  .container 
    .restaurant-maintenance__wrapper 
      .restaurant-maintenance__content
        h2.title Выездное обслуживание <br/>от европейского <br/>ресторана
        .restaurant-maintenance__content-descr 
          p.text Благодаря выездному обслуживанию от ресторана Бьорк, вы можете насладиться изысканными блюдами Европейской кухни и безупречным сервисом прямо у себя дома, на корпоративном мероприятии или даже на свадьбе.
          p.text Мы организовываем ваши мероприятия с заботой к деталям. Опытные повара готовят блюда прямо на месте проведения мероприятия с использованием только свежих продуктов, учитывая предпочтения гостей и особенности мероприятия.
      .restaurant-maintenance__img
        img(src=require('/assets/images/restaurants/food-decor.png'), alt="")