include ../../components/svg.pug
.section.prices 
  .container 
    h2.title Абонементы и цены
    .prices__wrapper
      .prices__content
        .prices__content-title Бассейн
        .prices__content-list 
          .item 
            .item__top 1 месяц
            .item__bottom 
              div 1 600 рублей
              div 1 200 рублей — льготный
          .item 
            .item__top 1 месяц
            .item__bottom 
              div 1 600 рублей
              div 1 200 рублей — льготный
          .item 
            .item__top 1 месяц
            .item__bottom 
              div 1 600 рублей
              div 1 200 рублей — льготный
      .prices__content
        .prices__content-title Тренажерный зал / групповые занятия
        .prices__content-list 
          .item 
            .item__top 1 месяц
            .item__bottom 
              div 1 600 рублей
              div 1 200 рублей — льготный
          .item 
            .item__top 1 месяц
            .item__bottom 
              div 1 600 рублей
              div 1 200 рублей — льготный
          .item 
            .item__top 1 месяц
            .item__bottom 
              div 1 600 рублей
              div 1 200 рублей — льготный
    .prices__bottom
      .prices__info-list          
        p * льготный абонемент — для пенсионеров и школьников
      .prices__info
        +svg('home')
        p Абонемент действует со дня покупки в течении первого (трех, шести) месяца. По нему вы можете посещать занятия 1 раз в день по расписанию залов или бассейна.