.faq
  .item
    .item__head
      .icon
      h3 Как выбрать санаторий?
    .item__body 
      .item__body-wrapper Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, suscipit.
  .item
    .item__head
      .icon
      h3 Как выбрать санаторий?
    .item__body 
      .item__body-wrapper Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, suscipit.
  .item
    .item__head
      .icon
      h3 Как выбрать санаторий?
    .item__body 
      .item__body-wrapper Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, suscipit.
  .item
    .item__head
      .icon
      h3 Как выбрать санаторий?
    .item__body 
      .item__body-wrapper Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, suscipit.
  .item
    .item__head
      .icon
      h3 Как выбрать санаторий?
    .item__body 
      .item__body-wrapper Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, suscipit.
  .item
    .item__head
      .icon
      h3 Как выбрать санаторий?
    .item__body 
      .item__body-wrapper Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, suscipit.
  .item
    .item__head
      .icon
      h3 Как выбрать санаторий?
    .item__body 
      .item__body-wrapper Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, suscipit.