include ../../components/svg.pug
footer.footer 
  .footer__form 
  .footer__wrapper
    .container 
      .footer__content
        .footer__top
          nav 
            div
              +svg('about',18)
              a.title(href="#" ) О компании
              ul 
                li 
                  a(href="#") Наша команда
                li 
                  a(href="#") FAQ
                li 
                  a(href="#") Документы
            div
              +svg('child',18)
              a.title(href="#" ) Дети
              ul 
                li 
                  a(href="#") Лагеря
                li 
                  a(href="#") Детские программы
            div
              +svg('health',18)
              a.title(href="#" ) Здоровье
              ul 
                li 
                  a(href="#") Санатории
                li 
                  a(href="#") Запись к врачу
            div
              +svg('sport',18)
              a.title(href="#" ) Спорт
              ul 
                li 
                  a(href="#") Спортивные комплексы
                li 
                  a(href="#") Фитнес-центр
                li 
                  a(href="#") Бассейн
                li 
                  a(href="#") Конный спорт
                li 
                  a(href="#") Горнолыжный комплекс
            div
              +svg('rest',18)
              a.title(href="#" ) Отдых
              ul 
                li 
                  a(href="#") Базы отдыха
                li 
                  a(href="#") Гостиницы
                li 
                  a(href="#") Общежития
            div
              +svg('nutrition',18)
              a.title(href="#" ) Питание
              ul 
                li 
                  a(href="#") Рестораны
                li 
                  a(href="#") Кафе
                li 
                  a(href="#") Кейтеринг
            div
              +svg('culture',18)
              a.title(href="#" ) Культура
              ul 
                li 
                  a(href="#") ДК «Иске Элмэт»
                li 
                  a(href="#") Музей нефти (Лениногорск)
                li 
                  a(href="#") Музей нефти (Шугурово)
        .footer__bottom
          .footer__bottom-left
            a.phone(href="tel:+7 855 33 04 191") +7 855 33 04 191
            a.email(href="mailto:tn@88001004112.ru") tn@88001004112.ru
            .developer разработано &nbsp;
              span brainstore.agency 
            .current © 2023 social.tatneft.ru
          .footer__bottom-right
            .developer разработано &nbsp;
              span  brainstore.agency 