include ../../components/svg.pug
include ../../components/input.pug
include ../../components/button.pug
footer.footer 
  //- .footer__form.container 
      div 
        h3.title Позвольте окружить <br/> вас заботой
        p.text Каждый день мы меняемся и становимся лучше. Здесь вы можете оставить предложения, замечания и вопросы.
      form#footer-form(novalidate)
        +input('name', 'Ведите имя')
        +input('email', 'Ваша почта')
        +input('phone', '+7 (999)-999 99-99')(data-mask="+{7}(000)-000-00-00")
        label.checkbox-other
          input(data-special-offer='' checked='checked' data-type='checkbox' type='checkbox')
          p Я согласен c политикой конфиденциальности
            

        +button('Отправить','green')(type='submit')
  .footer__wrapper
    .container 
      .footer__content
        .footer__top
          nav 
            div
              +svg('about',18)
              a.title(href="/about.html" ) О компании
              ul 
                li 
                  a(href="#") Наша команда
                //- li 
                //-   a(href="#") FAQ
                //- li 
                //-   a(href="#") Документы
            div
              +svg('child',18)
              a.title(href="/green-scientists.html" ) Дети
              ul 
                li 
                  a(href="#") Лагеря
                li 
                  a(href="#") Детские программы
            div
              +svg('health',18)
              a.title(href="/health.html" ) Здоровье
              ul 
                li 
                  a(href="#") Санатории
                li 
                  a(href="#") Запись к врачу
            div
              +svg('sport',18)
              a.title(href="/horseback-riding.html" ) Спорт
              ul 
                li 
                  a(href="/horseback-riding.html") Спортивные комплексы
                li 
                  a(href="#") Фитнес-центр
                li 
                  a(href="#") Бассейн
                li 
                  a(href="#") Конный спорт
                li 
                  a(href="#") Горнолыжный комплекс
            div
              +svg('rest',18)
              a.title(href="/rest.html" ) Отдых
              ul 
                li 
                  a(href="#") Базы отдыха
                li 
                  a(href="#") Гостиницы
                li 
                  a(href="#") Общежития
            div
              +svg('nutrition',18)
              a.title(href="/restaurants.html" ) Питание
              ul 
                li 
                  a(href="/restaurants.html") Рестораны
                li 
                  a(href="#") Кафе
                li 
                  a(href="#") Кейтеринг
            div
              +svg('culture',18)
              a.title(href="/museum.html" ) Культура
              ul 
                li 
                  a(href="#") ДК «Иске Элмэт»
                li 
                  a(href="#") Музей нефти (Лениногорск)
                li 
                  a(href="#") Музей нефти (Шугурово)
        .footer__bottom
          .footer__bottom-left
            a.phone(href="tel:+7 855 33 04 191") +7 855 33 04 191
            a.email(href="mailto:tn@88001004112.ru") tn@88001004112.ru
            .developer разработано &nbsp;
              span brainstore.agency 
            .current © 2024 social.tatneft.ru
          .footer__bottom-right
            //- .developer разработано &nbsp;
            //-   span  brainstore.agency 