.price-book
  .container
    h2.title Цены и бронирование
    .price-book__wrapper
      .price-book__top
        .price-book__list 
          .item
            .item__title Вагон-домик
            .item__count 2-местный (+1 гость)
            .item__prices 
              div 
                span 1 500 ₽
                span будни
              div 
                span 1 900 ₽
                span выходные
          .item
            .item__title Вагон-домик
            .item__count 2-местный (+1 гость)
            .item__prices 
              div 
                span 1 500 ₽
                span будни
              div 
                span 1 900 ₽
                span выходные
          .item
            .item__title Вагон-домик
            .item__count 2-местный (+1 гость)
            .item__prices 
              div 
                span 1 500 ₽
                span будни
              div 
                span 1 900 ₽
                span выходные
          .item
            .item__title Вагон-домик
            .item__count 2-местный (+1 гость)
            .item__prices 
              div 
                span 1 500 ₽
                span будни
              div 
                span 1 900 ₽
                span выходные
          .item
            .item__title Вагон-домик
            .item__count 2-местный (+1 гость)
            .item__prices 
              div 
                span 1 500 ₽
                span будни
              div 
                span 1 900 ₽
                span выходные
          .item-other
            div
              .item__title Ранний заезд/поздний выезд
              .item__prices 
                div 
                  span 400/500 ₽ 
                  span будни/выходной
            div
              .item__title Дополнительное место
              .item__prices 
                div 
                  span 800/1 000 ₽ 
                  span будни/выходной

        .price-book__info
          p * В праздничные и выходные дни стоимость и графики заезда могут меняться.
          br
          p В стоимость номера входит: проживание, пользование инфраструктурой (игровые площадки), пользование спорт. инвентарем, спортивно-развлекательные мероприятия.
          br
          p Дети до 2-х лет (включительно) проживают без оплаты и предоставления койко-места
      include ../../components/book/index.pug
