
.section.introduction-type-2
  .container
    h2.title иволга
    .introduction__wrapper
      
        h3.introduction__title В окружении <br/> нетронутой природы
      
        p.introduction__text «Иволга» — это современный санаторий, вмещающий одновременно до 75 гостей. Помимо жилого и лечебного корпуса, расположенных в одном здании, посетителей ждут:
        