.section.services 
  .container 
    .services__wrapper
      h2.title Услуги
      p.text Централизованного питания и развлекательной программы на «Зелёном берегу» нет, но есть столовая с кухонным оборудованием и беседка на берегу реки, оборудованная под готовку на мангале. Также в стоимость путевки входят:
      .services__list 
        .item 
          img(src=require('/assets/images/box.png'), alt="")
          .item__title Прокат лодок и катамаранов
        .item 
          img(src=require('/assets/images/box.png'), alt="")
          .item__title Прокат лодок и катамаранов
        .item 
          img(src=require('/assets/images/box.png'), alt="")
          .item__title Прокат лодок и катамаранов
        .item 
          img(src=require('/assets/images/box.png'), alt="")
          .item__title Прокат лодок и катамаранов
      .services__info
        +svg('home')
        p Пожалуйста, обратите внимание, что территория базы не оборудована под нахождение питомцев. Поэтому, пожалуйста, оставьте их дома!
          