include ../svg.pug
.other-slider.other-slider3
  .content
    h2.title Экологические проекты со школьными биолабораториями
    .btn-controls
      button.btn-prev
        +svg('back-line')
      button.btn-next
        +svg('forward-line')
  .swiper-wrapper
    .swiper-slide
      img(src=require('/assets/images/planted-tree.png'))
  //- .swiper-pagination
