include ../svg.pug
.other-slider.other-slider3
  .content
    h2.title Экологические проекты со школьными биолабораториями
    .btn-controls
      button.btn-prev
        +svg('back-line')
      button.btn-next
        +svg('forward-line')
  .swiper-wrapper
    .swiper-slide
      img(src='https://swiperjs.com/demos/images/nature-1.jpg')
      

    .swiper-slide
      img(src='https://swiperjs.com/demos/images/nature-2.jpg')
      
    .swiper-slide
      img(src='https://swiperjs.com/demos/images/nature-3.jpg')
    .swiper-slide
      img(src='https://swiperjs.com/demos/images/nature-4.jpg')
  //- .swiper-pagination
