.section.camp 
  h2.title Берёзка
  p.subtitle Детский оздоровительный лагерь
  p.text Направление летних смен — Биотехнологии
  .directions
    .item 
      .item__title Первая
      .item__date 1 июня — 21 июня
