include ../../components/svg.pug
.section.camp.relative
  +svg('grass')(class=" w-[84px] h-[80px] lg2:w-[262px] lg2:h-[250px] z-10 lg2:z-0 absolute right-[42px] top-[-70px] lg2:right-[380px] lg2:top-[-40px]")     
  .container 
    .camp__top
      h2.title Берёзка
      p.text Детский оздоровительный лагерь
    .camp__directions.directions
      p.directions__title Направление летних смен — Биотехнологии
      .directions__wrapper
        .item 
          .item__title Первая
          .item__date 1 июня — 21 июня
        .item 
          .item__title Вторая
          .item__date 24 июня — 14 июля
        .item 
          .item__title Третья
          .item__date 17 июля — 6 августа
        .item 
          .item__title Четвертая
          .item__date 9 августа —29 августа
    .camp__slider.grid
        include ../../components/otherSlider/index3.pug
    .camp__req        
      include ../../components/select/index.pug
      include ../../components/button.pug
      a(href="https://social.tatneft.ru/deti/berezka/?lang=ru").book 
        +select('Заезд / Выезд', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
        +select('Гости', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
        +select('Промокод', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
        +button('Забронировать','orange')(type='submit')   