include ../../components/svg.pug
.sport-infrastructure
  .container
    h2.title Инфраструктура
    .sport-infrastructure__wrapper
      .sport-infrastructure__item
        p.text Для комплексного развития разных видов спорта и для охвата как можно большего количества горожан с разными вкусамии предпочтениями в спорте, в комплексе оборудованы:
        .sport-infrastructure__list 
          .item
            .item__icon 
              +svg('river')
            .item__title 2 игровых зала для занятий волейболом, футболом, большим теннисом
          .item
            .item__icon 
              +svg('river')
            .item__title 2 зала хореографии для занятий аэробикой, степ-аэробикой, йогой, танцами
          .item
            .item__icon 
              +svg('river')
            .item__title 2 тренажерных зала (мужской и женский)
          .item
            .item__icon 
              +svg('river')
            .item__title 2 зала для занятий боксом
          .item
            .item__icon 
              +svg('river')
            .item__title бильярдный зал на 5 столов
          .item
            .item__icon 
              +svg('river')
            .item__title зал вольной борьбы, кикбоксингаи айкидо
          .item
            .item__icon 
              +svg('river')
            .item__title зал акробатики и борьбы
          .item
            .item__icon 
              +svg('river')
            .item__title зал настольного тенниса (4 стола)
          .item
            .item__icon 
              +svg('river')
            .item__title плавательный бассейн на 6 дорожек
    .sport-infrastructure__info 
      +svg('smile2')
      p Для самых маленьких посетителей в спорткомплексе работают детские группы по акробатике, плаванию, настольному теннису, волейболу, национальной и вольной борьбе, боксу, фитнесу, бадминтону.