include ../../components/svg.pug
.camp-about
  .container 
    .camp-about__top  
      h2.title О лагере
      p.text «Вишневая поляна» — летний оздоровительный лагерь в 25 км от Нурлата. Это большая усадьба с основательными жилыми корпусами, спортивными площадками и живописными террасами, с которых открывается вид на реку Черемшан. 
    .camp-about__img 
      img(src=require('/assets/images/camp/berezka-park.png'), alt="")
    