.rest 
  .container 
    .rest__top 
      .rest__top-left 
        h2.title Зелёный берег
        p.text База отдыха
      .rest__top-right  
        p.text Тихий уголок для любителей размеренного уединенного отдыха. Максимальное число гостей в один заезд — 30 человек. Зимой на базу можно приезжать ради зимней ловли рыбы.
    