include ../components/svg.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .sidebar#sidebar
      .container
        .sidebar__head 
          a(href="/" class='logo' data-target='sidebar' data-action='close') 
            +svg("logo")
          button.close(data-target='sidebar' data-action='close') 
            +svg("close")
        nav.sidebar__content 
          a(href="/green-scientists.html" data-target='sidebar' data-action='close')  
            +svg("child" ,17,15)
            span Дети

          a(href="/health.html" data-target='sidebar' data-action='close')  
            +svg("health" ,17,17)
            span Здоровье

          a(href="/rest.html" data-target='sidebar' data-action='close')  
            +svg("rest" ,17,14)
            span Отдых

          a(href="/restaurants.html" data-target='sidebar' data-action='close')  
            +svg("nutrition" ,17,17)
            span Питание

          a(href="/sport-actuba.html" data-target='sidebar' data-action='close')  
            +svg("sport" ,17,17)
            span Спорт

          a(href="/museum.html" data-target='sidebar' data-action='close')  
            +svg("culture" ,17,15)
            span Культура

          a(href="/about.html" data-target='sidebar' data-action='close')  
            +svg("about" ,17,17)
            span О компании
    header.header.header__sanatorium
      .container
        .header__wrapper 
          a(href="/" class='logo') 
            +svg("logo")
          button.burger( data-target='sidebar' data-action='open')
            +svg("burger", 35)
          nav
            a(href="/about.html") О компании
            a(href="/health.html") Здоровье
            a(href="/green-scientists.html") Дети
            a(href="/sport-actuba.html") Спорт
            a(href="/rest.html") Отдых
            a(href="/restaurants.html") Питание
            a(href="/museum.html") Культура 
          button.call 
            +svg("phone", 24)
      .container.relative
        +svg('figures')(class=" lg2:w-[470px] hidden lg2:block lg2:h-[517px] z-10 lg2:z-0 absolute right-0 lg2:top-0")  
        .header__bg
          img(src=require('/assets/images/bg/biork.png') alt="")
    main 
      include ../sections/restaurant/index.pug
      .section.img-content
        .container 
          img(src=require("/assets/images/restaurants/burger.png"), alt="")
          h2.title.img-content__text(class="  bottom-0") Бронирование <br/> столов
      include ../sections/restaurantMaintenance/index.pug    
      .section
        .img-content
          .container 
            img(src=require("/assets/images/restaurants/banquet-table.png"), alt="")
            h2.title.img-content__text(class="  top-0") возможно <br/> заказать выездное <br/> обслуживание
        .container  
          div(class=' mt-[90px] grid gap-10 lg2:mt-[140px] lg2:w-[750px] lg2:ml-auto lg2:mr-0')
          
            p.text Мы с радостью поможем вам в организации фуршетов, банкетов, коктейлей и барбекю. Если у вас есть особые пожелания по меню, то специалисты ресторана обязательно учтут их при составлении меню.
            p.text Для того чтобы обеспечить комфорт и уют для ваших гостей, ресторан Бьорк предлагает широкий выбор посуды, столовых приборов и текстиля. Кроме того, наши официанты и бармены помогут создать приятную атмосферу и обеспечат своевременное обслуживание.
      .section.img-content
        .container 
          img(src=require("/assets/images/restaurants/bread-soup.png"), alt="")
          h2.title.img-content__text(class="  top-0") разнообразное <br/>меню
          
      include ../sections/contacts/index.pug
      
    include ../sections/footer/index.pug
  
  
