
include ../components/svg.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .wrapper
      .sidebar#sidebar
        .container
          .sidebar__head 
            a(href="/" class='logo' data-target='sidebar' data-action='close') 
              +svg("logo")
            button.close(data-target='sidebar' data-action='close') 
              +svg("close")
          nav.sidebar__content 
            a(href="/green-scientists.html" data-target='sidebar' data-action='close')  
              +svg("child" ,17,15)
              span Дети

            a(href="/health.html" data-target='sidebar' data-action='close')  
              +svg("health" ,17,17)
              span Здоровье

            a(href="/rest.html" data-target='sidebar' data-action='close')  
              +svg("rest" ,17,14)
              span Отдых

            a(href="/restaurants.html" data-target='sidebar' data-action='close')  
              +svg("nutrition" ,17,17)
              span Питание

            a(href="/sport-actuba.html" data-target='sidebar' data-action='close')  
              +svg("sport" ,17,17)
              span Спорт

            a(href="/museum.html" data-target='sidebar' data-action='close')  
              +svg("culture" ,17,15)
              span Культура

            a(href="/about.html" data-target='sidebar' data-action='close')  
              +svg("about" ,17,17)
              span О компании
      header.header.header__sanatorium
        .container
          .header__wrapper 
            a(href="/" class='logo') 
              +svg("logo")
            button.burger( data-target='sidebar' data-action='open')
              +svg("burger", 35)
            nav
              a(href="/about.html") О компании
              a(href="/health.html") Здоровье
              a(href="/green-scientists.html") Дети
              a(href="/sport-actuba.html") Спорт
              a(href="/rest.html") Отдых
              a(href="/restaurants.html") Питание
              a(href="/museum.html") Культура 
            button.call 
              +svg("phone", 24)
        .container.relative
          +svg('figures')(class=" lg2:w-[470px] hidden lg2:block lg2:h-[517px] z-10 lg2:z-0 absolute right-0 lg2:top-0")      
          .header__bg
            img(src=require('/assets/images/camp/camp-fakel.png') alt="")
      main
        .section.camp.relative
          +svg('fakel')(class=" w-[84px] h-[80px] lg2:w-[262px] lg2:h-[250px] z-10 lg2:z-0 absolute right-[42px] top-[-70px] lg2:right-[380px] lg2:top-[-40px]")
          .container 
            .camp__top
              h2.title Факел
              p.text Детский оздоровительный лагерь
            .camp__directions.directions
              p.directions__title Лето 2023 года — кино-анимационное направление
              .directions__wrapper
                .item 
                  .item__title Первая
                  .item__date 1 июня — 21 июня
                .item 
                  .item__title Вторая
                  .item__date 24 июня — 14 июля
                .item 
                  .item__title Третья
                  .item__date 17 июля — 6 августа
                .item 
                  .item__title Четвертая
                  .item__date 9 августа — 29 августа
            .camp__slider.grid
              .other-slider.other-slider3
                .content
                  h2.title Сюжетная программа
                  .btn-controls
                    button.btn-prev
                      +svg('back-line')
                    button.btn-next
                      +svg('forward-line')
                .swiper-wrapper
                  .swiper-slide
                    img(src=require('/assets/images/childs6.png'))
            .camp__req        
              include ../components/select/index.pug
              include ../components/button.pug
              a(href="https://social.tatneft.ru/deti/fakel").book 
                +select('Заезд / Выезд', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                +select('Гости', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                +select('Промокод', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                +button('Забронировать','orange')(type='submit')  
        .camp-about
          .container.relative 
            +svg('home-people')(class=" lg2:w-[329px] hidden lg2:block lg2:h-[251px]  absolute right-[300px] lg2:top-[20px]")      
            .camp-about__top  
              h2.title О лагере
              p.text «Факел» расположен в 20 км от города Заинск. Вокруг — нетронутая человеком природа: прямо за территорией лагеря начинаются живописные лесные холмы. Воздух соснового бора создает в лагере особенный микроклимат, который хорошо влияет на здоровье и иммунитет.

            .camp-about__img 
              img(src=require('/assets/images/about-fakel.png'), alt="")
        .camp-infrastructure 
          .container 
            .camp-infrastructure__top.camp-infrastructure__top-col2
              h2.title Инфраструктура
              p.text Инфраструктура лагеря тщательно продумана, чтобы каждый ребенок, независимо от возраста, темперамента или других особенностей мог полноценно отдохнуть, найти себе друзей и попробовать новое увлечение. 


            .camp-infrastructure__list 
              .item
                .item__icon 
                  +svg('river')
                .item__title Летний клуб для развлекательных и тематических программ
              .item
                .item__icon 
                  +svg('river')
                .item__title Флорбольная площадка
              .item
                .item__icon 
                  +svg('river')
                .item__title Футбольное поле с искусственным покрытием и трибунами
              .item
                .item__icon 
                  +svg('river')
                .item__title 2 игровые площадки с горками, каруселями и качелями
              .item
                .item__icon 
                  +svg('river')
                .item__title Площадка для пляжного волейбола 
              .item
                .item__icon 
                  +svg('river')
                .item__title Метеоплощадка
              .item
                .item__icon 
                  +svg('river')
                .item__title Баскетбольная площадка с искусственным покрытием
              .item
                .item__icon 
                  +svg('river')
                .item__title Игровые комнаты
              .item
                .item__icon 
                  +svg('river')
                .item__title Летняя сцена
              .item
                .item__icon 
                  +svg('river')
                .item__title Крытый бассейн с раздевалками и душевыми кабинами
        .section
          .container
            .grid
              .other-slider.other-slider2
                .content
                  h2.title Комфортный быт
                  div
                    p.text Живут дети в трех комфортабельных спальных корпусах. Номера устроены так, чтобы было удобно: кровать, стол, стулья, комод, зеркало, отдельная душевая и туалет. Питание в лагере пятиразовое с обилием свежих овощей и фруктов.

                  .btn-controls
                    button.btn-prev
                      +svg('back-line')
                    button.btn-next
                      +svg('forward-line')
                .swiper-wrapper
                  .swiper-slide
                    img(src=require('/assets/images/room.png'))
        //- include ../sections/campInfo/index.pug
        .section.accept
          .container
            .grid.slider
              div(class='overflow-hidden introduction__slider')
                include ../components/acceptSlider/index.pug
        .section.contacts
          .container
            .contacts__wrapper
              .contacts__top.relative
                +svg('call')(class=" lg2:w-[130px] hidden lg2:block lg2:h-[130px]  absolute lg2:right-[-130px] lg2:bottom-[180px]")    
                h4.title Увидимся <br/> в «Факеле»!
                
                p.contacts__text Республика Татарстан, Заинский район, с.Федотово Автотрасса Альметьевск – Набережные Челны, 20 км от г. Заинск.

                
                div
                  a(href="tel:+72-80-658").contacts__link 2-80-658
                  a(href="tel:+7(919)640-71-95").contacts__link 8 (919)640-71-95
                  a(href="tel:+78555828064").contacts__link 8 (85558) 2-80-64


                //- div.contacts__text
                  span E-mail: 
                  a(href="mailto:sanat_djalil@tatneft.tatar") sanat_djalil@tatneft.tatar
                //- div.contacts__soc 
                  a(href="" class="soc bg-green")
                    +svg('whatsapp',  33)
                    span WhatsApp
                  a(href="" class="soc bg-[#5181B8]")
                    +svg('vk',  33)
                    span Вконтакте
              .contacts__bottom
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A2009424f30fe10513eda0c4ee12378b3ccf6d66c287eff5862674bb234a35a82&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
      include ../sections/footer/index.pug
    
    
