
extend ../layouts/sanatorium.pug
block content
  
  
  .section
    .container
      .grid
        include ../components/otherSlider/index.pug
  
  include ../sections/contacts/index.pug
  include ../sections/merit/index.pug
  
