
include ../components/svg.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .sidebar#sidebar
      .container
        .sidebar__head 
          a(href="#" class='logo' data-target='sidebar' data-action='close') 
            +svg("logo")
          button.close(data-target='sidebar' data-action='close') 
            +svg("close")
        nav.sidebar__content 
          a(href="#" data-target='sidebar' data-action='close')  
            +svg("child" ,17,15)
            span Дети

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("health" ,17,17)
            span Здоровье

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("rest" ,17,14)
            span Отдых

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("nutrition" ,17,17)
            span Питание

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("sport" ,17,17)
            span Спорт

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("culture" ,17,15)
            span Культура

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("about" ,17,17)
            span О компании
    header.header.header__sanatorium
      .container
        .header__wrapper 
          a(href="#" class='logo') 
            +svg("logo")
          button.burger( data-target='sidebar' data-action='open')
            +svg("burger", 35)
          nav
            a(href="#") О компании
            a(href="#") Здоровье
            a(href="#") Дети
            a(href="#") Спорт
            a(href="#") Отдых
            a(href="#") Питание
            a(href="#") Культура 
          button.call 
            +svg("phone", 24)
        .header__bg
          img(src=require('/assets/images/camp/camp-kosmos.png') alt="")
    main
      .section.camp 
        .container 
          .camp__top
            h2.title Иволга
            p.text Детский оздоровительный лагерь
          .camp__directions.directions
            p.directions__title Оздоровительное направление летних смен — здоровое питание
            .directions__wrapper
              .item 
                .item__title Первая
                .item__date 1 июня — 21 июня
              .item 
                .item__title Первая
                .item__date 1 июня — 21 июня
              .item 
                .item__title Первая
                .item__date 1 июня — 21 июня
          .camp__slider.grid
              include ../components/otherSlider/index3.pug
          .camp__req        
            include ../components/book/index.pug
      .camp-about
        .container 
          .camp-about__top  
            h2.title О лагере
            p.text «Ландыш» — стационарный лагерь, дети живут в 5 комфортабельных корпусах в уютных комнатах по 4-6 человек. Душевые и туалеты расположены на этаже. Также на каждом этаже оборудован холл — с диванами и телевизором, где можно провести время в течение дня или собраться на вечерние планерки всем отрядом. 

          .camp-about__img 
            img(src=require('/assets/images/about-vishnevaya-polyana.png'), alt="")
      .camp-infrastructure 
        .container 
          .camp-infrastructure__top.camp-infrastructure__top-col2
            h2.title Инфраструктура
            p.text Для комплексного развития детей в каждой смене предусмотрено множество мероприятий для развития коммуникативных навыков: тренинги, психологические игры, тимбилдинги и др. Ведется общественно-полезная деятельность — например, благоустройство территории и дежурство по лагерю. И, конечно, разнообразие инфраструктуры для физического развития:

          .camp-infrastructure__list 
            .item
              .item__icon 
                +svg('river')
              .item__title Бассейн
            .item
              .item__icon 
                +svg('river')
              .item__title Спортзал
            .item
              .item__icon 
                +svg('river')
              .item__title Теннисный зал/Теннисный корт
            .item
              .item__icon 
                +svg('river')
              .item__title Детский спортивный комплекс
            .item
              .item__icon 
                +svg('river')
              .item__title Футбольное поле
            .item
              .item__icon 
                +svg('river')
              .item__title Баскетбольная площадка
            .item
              .item__icon 
                +svg('river')
              .item__title Волейбольная площадка
            .item
              .item__icon 
                +svg('river')
              .item__title Бадминтонная площадка
            
      .section
        .container
          .grid
            include ../components/otherSlider/index2.pug
      include ../sections/campInfo/index.pug
      .section.accept
        .container
          .grid.slider
            div(class='overflow-hidden introduction__slider')
              include ../components/acceptSlider/index.pug
      include ../sections/contacts/index.pug
    include ../sections/footer/index.pug
  
  
