
include ../components/svg.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .sidebar#sidebar
      .container
        .sidebar__head 
          a(href="/" class='logo' data-target='sidebar' data-action='close') 
            +svg("logo")
          button.close(data-target='sidebar' data-action='close') 
            +svg("close")
        nav.sidebar__content 
          a(href="/green-scientists.html" data-target='sidebar' data-action='close')  
            +svg("child" ,17,15)
            span Дети

          a(href="/health.html" data-target='sidebar' data-action='close')  
            +svg("health" ,17,17)
            span Здоровье

          a(href="/rest.html" data-target='sidebar' data-action='close')  
            +svg("rest" ,17,14)
            span Отдых

          a(href="/restaurants.html" data-target='sidebar' data-action='close')  
            +svg("nutrition" ,17,17)
            span Питание

          a(href="/sport-actuba.html" data-target='sidebar' data-action='close')  
            +svg("sport" ,17,17)
            span Спорт

          a(href="/museum.html" data-target='sidebar' data-action='close')  
            +svg("culture" ,17,15)
            span Культура

          a(href="/about.html" data-target='sidebar' data-action='close')  
            +svg("about" ,17,17)
            span О компании
    header.header.header__sanatorium
      .container
        .header__wrapper 
          a(href="/" class='logo') 
            +svg("logo")
          button.burger( data-target='sidebar' data-action='open')
            +svg("burger", 35)
          nav
            a(href="/about.html") О компании
            a(href="/health.html") Здоровье
            a(href="/green-scientists.html") Дети
            a(href="/sport-actuba.html") Спорт
            a(href="/rest.html") Отдых
            a(href="/restaurants.html") Питание
            a(href="/museum.html") Культура 
          button.call 
            +svg("phone", 24)
      .container.relative
        +svg('figures')(class=" lg2:w-[470px] hidden lg2:block lg2:h-[517px] z-10 lg2:z-0 absolute right-0 lg2:top-0")        
        .header__bg
          img(src=require('/assets/images/camp/camp-yunost.png') alt="")
    main
      .section.camp.relative
        +svg('grass')(class=" w-[84px] h-[80px] lg2:w-[262px] lg2:h-[250px] z-10 lg2:z-0 absolute right-[42px] top-[-70px] lg2:right-[380px] lg2:top-[-40px]") 
        .container 
          .camp__top
            h2.title Юность
            p.text Детский оздоровительный лагерь
          .camp__directions.directions
            p.directions__title Лето 2023 года — Бизнес и финансовая грамотность
            .directions__wrapper
              .item 
                .item__title Первая
                .item__date 1 июня — 21 июня
              .item 
                .item__title Первая
                .item__date 1 июня — 21 июня
              .item 
                .item__title Первая
                .item__date 1 июня — 21 июня
          .camp__slider.grid
              include ../components/otherSlider/index3.pug
          .camp__req        
            include ../components/select/index.pug
            include ../components/button.pug
            a(href="https://social.tatneft.ru/deti/yunost/?lang=ru").book 
              +select('Заезд / Выезд', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
              +select('Гости', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
              +select('Промокод', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
              +button('Забронировать','orange')(type='submit')   
      .camp-about
        .container.relative 
          +svg('home-people')(class=" lg2:w-[329px] hidden lg2:block lg2:h-[251px]  absolute right-[300px] lg2:top-[20px]")       
          .camp-about__top  
            h2.title О лагере
            p.text Всего в 10 км от Альметьевска находится лагерь «Юность». Это 16 га прекрасно оснащенной территории для полноценного отдыха детей и подростков 7-15 лет. Окруженный смешанным и хвойным лесом, он не только красив, но и наполнен свежим чистым воздухом, который помогает укрепить иммунитет отдыхающих.

          .camp-about__img 
            img(src=require('/assets/images/about-yunost.png'), alt="")
      .camp-infrastructure 
        .container 
          .camp-infrastructure__top.camp-infrastructure__top-col2
            h2.title Инфраструктура
            p.text В «Юности» есть все необходимое для безопасного и здорового отдыха детей, когда они проводят достаточно времени на свежем воздухе, учатся общению с новым окружением, участвую в спортивных активностях и развиваются творчески. 

          .camp-infrastructure__list 
            .item
              .item__icon 
                +svg('river')
              .item__title Клуб с кинозалом на 260 посадочных мест
            .item
              .item__icon 
                +svg('river')
              .item__title Открытая спортивная площадка с искусственным покрытием для игр в большой теннис, баскетбол, волейбол, флорбол
            .item
              .item__icon 
                +svg('river')
              .item__title Футбольное поле и беговая дорожка с искусственным покрытием
            .item
              .item__icon 
                +svg('river')
              .item__title Два детских городка
            .item
              .item__icon 
                +svg('river')
              .item__title Спортивный комплекс с бильярдным, теннисным, тренажерным, дискотечным и детским игровыми залами
            .item
              .item__icon 
                +svg('river')
              .item__title Детская игровая площадка с качелями, каруселями, спортивными аттракционами
            .item
              .item__icon 
                +svg('river')
              .item__title Закрытый плавательный бассейн (4 дорожки по 25м), с артезианской водой
            .item
              .item__icon 
                +svg('river')
              .item__title Две открытые оборудованные площадки для проведения массовых спортивных и культурно-массовых мероприятий
            .item
              .item__icon 
                +svg('river')
              .item__title Открытый плавательный бассейн  с водной горкой, декоративными душевыми, пляжной песчаной зоной, лежаками, шезлонгами, зонтами
            .item
              .item__icon 
                +svg('river')
              .item__title Столовая на 260 мест, с пятиразовым питанием
            .item
              .item__icon 
                +svg('river')
              .item__title Медицинский пункт
      .section
        .container
          .grid
            include ../components/otherSlider/index.pug
      .section
        .container
          .grid
            include ../components/otherSlider/index2.pug
      include ../sections/campInfo/index.pug
      .section.accept
        .container
          .grid.slider
            div(class='overflow-hidden introduction__slider')
              include ../components/acceptSlider/index.pug
      .section.contacts
        .container
          .contacts__wrapper
            .contacts__top.relative
              +svg('call')(class=" lg2:w-[130px] hidden lg2:block lg2:h-[130px]  absolute lg2:right-[-130px] lg2:bottom-[180px]")    
              h4.title До встречи!
              
              p.contacts__text  Адрес: Татарстан, 423450, северо-западнее города Альметьевска (микрорайона Красноармейка)
              
              div
                a(href="tel:+78553386901").contacts__link +7 (8553) 38 69 01
                a(href="tel:+78553386902").contacts__link +7 (8553) 38 69 02
                a(href="tel:+79196407199").contacts__link +7 (919) 640 71 99
                

              //- div.contacts__text
                span E-mail: 
                a(href="mailto:sanat_djalil@tatneft.tatar") sanat_djalil@tatneft.tatar
              //- div.contacts__soc 
                a(href="" class="soc bg-green")
                  +svg('whatsapp',  33)
                  span WhatsApp
                a(href="" class="soc bg-[#5181B8]")
                  +svg('vk',  33)
                  span Вконтакте
            .contacts__bottom
              <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A2009424f30fe10513eda0c4ee12378b3ccf6d66c287eff5862674bb234a35a82&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
    include ../sections/footer/index.pug
  
