
include ../components/svg.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .sidebar#sidebar
      .container
        .sidebar__head 
          a(href="#" class='logo' data-target='sidebar' data-action='close') 
            +svg("logo")
          button.close(data-target='sidebar' data-action='close') 
            +svg("close")
        nav.sidebar__content 
          a(href="#" data-target='sidebar' data-action='close')  
            +svg("child" ,17,15)
            span Дети

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("health" ,17,17)
            span Здоровье

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("rest" ,17,14)
            span Отдых

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("nutrition" ,17,17)
            span Питание

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("sport" ,17,17)
            span Спорт

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("culture" ,17,15)
            span Культура

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("about" ,17,17)
            span О компании
    header.header.header__sanatorium
      .container
        .header__wrapper 
          a(href="#" class='logo') 
            +svg("logo")
          button.burger( data-target='sidebar' data-action='open')
            +svg("burger", 35)
          nav
            a(href="#") О компании
            a(href="#") Здоровье
            a(href="#") Дети
            a(href="#") Спорт
            a(href="#") Отдых
            a(href="#") Питание
            a(href="#") Культура 
          button.call 
            +svg("phone", 24)
        .header__bg
          img(src=require('/assets/images/camp/camp-fakel.png') alt="")
    main
      .section.camp 
        .container 
          .camp__top
            h2.title Факел
            p.text Детский оздоровительный лагерь
          .camp__directions.directions
            p.directions__title Лето 2023 года — кино-анимационное направление
            .directions__wrapper
              .item 
                .item__title Первая
                .item__date 1 июня — 21 июня
              .item 
                .item__title Первая
                .item__date 1 июня — 21 июня
              .item 
                .item__title Первая
                .item__date 1 июня — 21 июня
          .camp__slider.grid
              include ../components/otherSlider/index3.pug
          .camp__req        
            include ../components/book/index.pug
      .camp-about
        .container 
          .camp-about__top  
            h2.title О лагере
            p.text «Факел» расположен в 20 км от города Заинск. Вокруг — нетронутая человеком природа: прямо за территорией лагеря начинаются живописные лесные холмы. Воздух соснового бора создает в лагере особенный микроклимат, который хорошо влияет на здоровье и иммунитет.

          .camp-about__img 
            img(src=require('/assets/images/about-fakel.png'), alt="")
      .camp-infrastructure 
        .container 
          .camp-infrastructure__top.camp-infrastructure__top-col2
            h2.title Инфраструктура
            p.text Инфраструктура лагеря тщательно продумана, чтобы каждый ребенок, независимо от возраста, темперамента или других особенностей мог полноценно отдохнуть, найти себе друзей и попробовать новое увлечение. 


          .camp-infrastructure__list 
            .item
              .item__icon 
                +svg('river')
              .item__title Летний клуб для развлекательных и тематических программ
            .item
              .item__icon 
                +svg('river')
              .item__title Флорбольная площадка
            .item
              .item__icon 
                +svg('river')
              .item__title Футбольное поле с искусственным покрытием и трибунами
            .item
              .item__icon 
                +svg('river')
              .item__title 2 игровые площадки с горками, каруселями и качелями
            .item
              .item__icon 
                +svg('river')
              .item__title Площадка для пляжного волейбола 
            .item
              .item__icon 
                +svg('river')
              .item__title Метеоплощадка
            .item
              .item__icon 
                +svg('river')
              .item__title Баскетбольная площадка с искусственным покрытием
            .item
              .item__icon 
                +svg('river')
              .item__title Игровые комнаты
            .item
              .item__icon 
                +svg('river')
              .item__title Летняя сцена
            .item
              .item__icon 
                +svg('river')
              .item__title Крытый бассейн с раздевалками и душевыми кабинами
      .section
        .container
          .grid
            include ../components/otherSlider/index.pug
      include ../sections/campInfo/index.pug
      .section.accept
        .container
          .grid.slider
            div(class='overflow-hidden introduction__slider')
              include ../components/acceptSlider/index.pug
      include ../sections/contacts/index.pug
    include ../sections/footer/index.pug
  
  
