
include ../components/svg.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .sidebar#sidebar
      .container
        .sidebar__head 
          a(href="/" class='logo' data-target='sidebar' data-action='close') 
            +svg("logo")
          button.close(data-target='sidebar' data-action='close') 
            +svg("close")
        nav.sidebar__content 
          a(href="/green-scientists.html" data-target='sidebar' data-action='close')  
            +svg("child" ,17,15)
            span Дети

          a(href="/health.html" data-target='sidebar' data-action='close')  
            +svg("health" ,17,17)
            span Здоровье

          a(href="/rest.html" data-target='sidebar' data-action='close')  
            +svg("rest" ,17,14)
            span Отдых

          a(href="/restaurants.html" data-target='sidebar' data-action='close')  
            +svg("nutrition" ,17,17)
            span Питание

          a(href="/sport-actuba.html" data-target='sidebar' data-action='close')  
            +svg("sport" ,17,17)
            span Спорт

          a(href="/museum.html" data-target='sidebar' data-action='close')  
            +svg("culture" ,17,15)
            span Культура

          a(href="/about.html" data-target='sidebar' data-action='close')  
            +svg("about" ,17,17)
            span О компании
    header.header.header__sanatorium
      .container
        .header__wrapper 
          a(href="/" class='logo') 
            +svg("logo")
          button.burger( data-target='sidebar' data-action='open')
            +svg("burger", 35)
          nav
            a(href="/about.html") О компании
            a(href="/health.html") Здоровье
            a(href="/green-scientists.html") Дети
            a(href="/sport-actuba.html") Спорт
            a(href="/rest.html") Отдых
            a(href="/restaurants.html") Питание
            a(href="/museum.html") Культура 
          button.call 
            +svg("phone", 24)
      .container.relative
        +svg('figures')(class=" lg2:w-[470px] hidden lg2:block lg2:h-[517px] z-10 lg2:z-0 absolute right-0 lg2:top-0")        
        .header__bg
          img(src=require('/assets/images/camp/camp-kosmos.png') alt="")
    main
      .section.camp.relative
        +svg('rocket')(class=" w-[84px] h-[80px] lg2:w-[262px] lg2:h-[250px] z-10 lg2:z-0 absolute right-[42px] top-[-70px] lg2:right-[380px] lg2:top-[-40px]")
        .container 
          .camp__top
            h2.title Космос
            p.text Детский оздоровительный лагерь
          .camp__directions.directions
            p.directions__title Оздоровительное направление летних смен — здоровое питание
            .directions__wrapper
              .item 
                .item__title Первая
                .item__date 1 июня — 21 июня
              .item 
                .item__title Первая
                .item__date 1 июня — 21 июня
              .item 
                .item__title Первая
                .item__date 1 июня — 21 июня
          .camp__slider.grid
              include ../components/otherSlider/index3.pug
          .camp__req        
            include ../components/book/index.pug
      .camp-about
        .container.relative 
          +svg('home-people')(class=" lg2:w-[329px] hidden lg2:block lg2:h-[251px]  absolute right-[300px] lg2:top-[20px]")       
          .camp-about__top  
            h2.title О лагере
            p.text Один из лучших лагерей в Республике Татарстан, «Иволга» каждый год встречает все больше и больше гостей. Одновременно здесь могут отдыхать до 120 детей — их расселяют в 3 комфортабельных спальных корпуса по 3-5 человек. В каждой комнате — прихожая, кровати, тумбочки, шкаф, туалет и душ.
          .camp-about__img 
            img(src=require('/assets/images/about-vishnevaya-polyana.png'), alt="")
      .camp-infrastructure 
        .container 
          .camp-infrastructure__top
            h2.title Через игру к здоровому образу жизни
            p.text Главная идея лагеря и его педагогов — легкое встраивание принципов здорового образа жизни в ежедневные привычки отдыхающих детей. Поэтому, воспитатели и вожатые проводят самые разные развивающие занятия:

          .camp-infrastructure__list 
            .item
              .item__icon 
                +svg('river')
              .item__title Интеллектуальные игры
            .item
              .item__icon 
                +svg('ball')
              .item__title Концерты коллективов художественной самодеятельности
            .item
              .item__icon 
                +svg('batute')
              .item__title Экскурсии по музеям и историческим местам города
            .item
              .item__icon 
                +svg('kikboks')
              .item__title Надувная полоса препятствий
            .item
              .item__icon 
                +svg('bitter')
              .item__title Катание на лошадях
            .item
              .item__icon 
                +svg('note')
              .item__title Спортивные соревнования и занятия в секциях
            .item
              .item__icon 
                +svg('note')
              .item__title Работа в творческих студиях 
            .item
              .item__icon 
                +svg('note')
              .item__title Речные прогулки на теплоходе по реке Кама
            .item
              .item__icon 
                +svg('note')
              .item__title Танцевальные вечера
      .section
        .container
          .grid
            include ../components/otherSlider/index2.pug
      include ../sections/campInfo/index.pug
      include ../sections/contacts/index.pug
    include ../sections/footer/index.pug
  
  
