include ../components/svg.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .wrapper
      .sidebar#sidebar
        .container
          .sidebar__head 
            a(href="/" class='logo' data-target='sidebar' data-action='close') 
              +svg("logo")
            button.close(data-target='sidebar' data-action='close') 
              +svg("close")
          nav.sidebar__content 
            a(href="/green-scientists.html" data-target='sidebar' data-action='close')  
              +svg("child" ,17,15)
              span Дети

            a(href="/health.html" data-target='sidebar' data-action='close')  
              +svg("health" ,17,17)
              span Здоровье

            a(href="/rest.html" data-target='sidebar' data-action='close')  
              +svg("rest" ,17,14)
              span Отдых

            a(href="/restaurants.html" data-target='sidebar' data-action='close')  
              +svg("nutrition" ,17,17)
              span Питание

            a(href="/horseback-riding.html" data-target='sidebar' data-action='close')  
              +svg("sport" ,17,17)
              span Спорт

            a(href="/museum.html" data-target='sidebar' data-action='close')  
              +svg("culture" ,17,15)
              span Культура

            a(href="/about.html" data-target='sidebar' data-action='close')  
              +svg("about" ,17,17)
              span О компании
      header.header.header__sanatorium
        .container
          .header__wrapper 
            a(href="/" class='logo') 
              +svg("logo")
            button.burger( data-target='sidebar' data-action='open')
              +svg("burger", 35)
            nav
              a(href="/about.html") О компании
              a(href="/health.html") Здоровье
              a(href="/green-scientists.html") Дети
              a(href="/horseback-riding.html") Спорт
              a(href="/rest.html") Отдых
              a(href="/restaurants.html") Питание
              a(href="/museum.html") Культура 
            button.call 
              +svg("phone", 24)
        .container.relative
          +svg('figures')(class=" lg2:w-[470px] hidden lg2:block lg2:h-[517px] z-10 lg2:z-0 absolute right-0 lg2:top-0")      
          .header__bg
            img(src=require('/assets/images/bg/biork.png') alt="")
      main 
        .section
          .introduction-type-1.introduction-dzhalilskiy 
            .container.relative
              +svg('theater2')(class=" absolute w-[102px] h-[87px] top-[-72px] right-[36px] lg2:w-[403px] lg2:h-[345px] lg2:right-[300px] lg2:top-0")
              h2.title Иске Элмэт
              .introduction__wrapper
                .introduction__top
                  h3.introduction__title Дом культуры
                .introduction__bottom
                  p.introduction__text В доме культуры проходят культурно-развлекательные и образовательные мероприятия. Всего в ДК занимается от 450-600 человек в возрасте от 3 до 70 лет. Для них работают:
                  
                div(class='overflow-hidden ')
                  include ../components/otherSlider/index.pug
        .section.accept
          .container.relative
            +svg('rest2')(class="w-[360px] h-[181px] -top-12 -left-4 absolute hidden lg2:block")
            .grid.slider
              div(class='overflow-hidden')
                include ../components/acceptSlider/index.pug
        .section.img-content
          .container 
            img(src=require("/assets/images/restaurants/burger.png"), alt="")
            h2.title.img-content__text(class="  bottom-0") зрительный зал на 258 <br/>посадочных мест
        
        
            
        include ../sections/contacts/index.pug
        
      include ../sections/footer/index.pug
    
    
