include ../components/svg.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .wrapper
      .sidebar#sidebar
        .container
          .sidebar__head 
            a(href="/" class='logo' data-target='sidebar' data-action='close') 
              +svg("logo")
            button.close(data-target='sidebar' data-action='close') 
              +svg("close")
          nav.sidebar__content 
            a(href="/green-scientists.html" data-target='sidebar' data-action='close')  
              +svg("child" ,17,15)
              span Дети

            a(href="/health.html" data-target='sidebar' data-action='close')  
              +svg("health" ,17,17)
              span Здоровье

            a(href="/rest.html" data-target='sidebar' data-action='close')  
              +svg("rest" ,17,14)
              span Отдых

            a(href="/restaurants.html" data-target='sidebar' data-action='close')  
              +svg("nutrition" ,17,17)
              span Питание

            a(href="/horseback-riding.html" data-target='sidebar' data-action='close')  
              +svg("sport" ,17,17)
              span Спорт

            a(href="/museum.html" data-target='sidebar' data-action='close')  
              +svg("culture" ,17,15)
              span Культура

            a(href="/about.html" data-target='sidebar' data-action='close')  
              +svg("about" ,17,17)
              span О компании
      header.header.header__sanatorium
        .container
          .header__wrapper 
            a(href="/" class='logo') 
              +svg("logo")
            button.burger( data-target='sidebar' data-action='open')
              +svg("burger", 35)
            nav
              a(href="/about.html") О компании
              a(href="/health.html") Здоровье
              a(href="/green-scientists.html") Дети
              a(href="/horseback-riding.html") Спорт
              a(href="/rest.html") Отдых
              a(href="/restaurants.html") Питание
              a(href="/museum.html") Культура 
            button.call 
              +svg("phone", 24)
          .header__bg
            img(src=require('/assets/images/rest/rest-obsh3.png') alt="")
      main
        .rest 
          .container 
            .rest__top 
              .rest__top-left 
                h2.title Общежитие №2 
                p.text г. Альметьевск
        .section
          .container
            .grid
              .other-slider.other-slider2
                .content
                  p.text На 9 этажах здания общежития №2 расположено 128 комфортных номеров. В однокомнатных номерах 12-17 кв.м. размещаются по 2-3 человека. Туалетные комнаты расположены на этаже, а душевая — на первом этаже здания. Кухня оборудована мебелью, плитой и микроволновкой — вы можете готовить сами. А привести вещи в порядок можно в прачечной комнате. В каждом номере есть:

                  
                .swiper-wrapper
                  .swiper-slide
                    img(src=require('/assets/images/obsh3.png'))
                    .slide-content 
                      h4.slide-content__title шкаф для одежды
        
        .section.contacts
          .container
            .contacts__wrapper
              .contacts__top.relative
                +svg('call')(class=" lg2:w-[130px] hidden lg2:block lg2:h-[130px]  absolute lg2:right-[-130px] lg2:bottom-[180px]")    
                h4.title Увидимся!
                
                p.contacts__text  г. Альметьевск, ул. Тельмана 53.
                
                
              .contacts__bottom
                img(src=require('/assets/images/maps/rest-obsh3-map.png'), alt="")
        
      include ../sections/footer/index.pug
    
    
