
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    include ../sections/header/restaurants.pug
    main
      - var listLink = ['Ресторан «Бьорк»','Выездное обслуживание']
      section.cards-sect
        .container 
          div(class="links ")
            a(href="/biork.html") Ресторан «Бьорк»
            a(href="#") Выездное обслуживание
          .cards
            .card
              img(src=require("/assets/images/restaurants/1qa.png"), alt="")
          
            .card
              img(src=require("/assets/images/restaurants/2qa.png"), alt="")
          
    include ../sections/footer/index.pug


  