
include ../components/svg.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .sidebar#sidebar
      .container
        .sidebar__head 
          a(href="#" class='logo' data-target='sidebar' data-action='close') 
            +svg("logo")
          button.close(data-target='sidebar' data-action='close') 
            +svg("close")
        nav.sidebar__content 
          a(href="#" data-target='sidebar' data-action='close')  
            +svg("child" ,17,15)
            span Дети

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("health" ,17,17)
            span Здоровье

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("rest" ,17,14)
            span Отдых

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("nutrition" ,17,17)
            span Питание

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("sport" ,17,17)
            span Спорт

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("culture" ,17,15)
            span Культура

          a(href="#" data-target='sidebar' data-action='close')  
            +svg("about" ,17,17)
            span О компании
    header.header.header__sanatorium
      .container
        .header__wrapper 
          a(href="#" class='logo') 
            +svg("logo")
          button.burger( data-target='sidebar' data-action='open')
            +svg("burger", 35)
          nav
            a(href="#") О компании
            a(href="#") Здоровье
            a(href="#") Дети
            a(href="#") Спорт
            a(href="#") Отдых
            a(href="#") Питание
            a(href="#") Культура 
          button.call 
            +svg("phone", 24)
        .header__bg
          img(src=require('/assets/images/bg/romashkino.png') alt="")
      
        
    main
      .section
        .introduction-type-1.introduction-dzhalilskiy 
          .container
            h2.title Ромашкино
            .introduction__wrapper
              .introduction__top
                h3.introduction__title Отдохните вдали от городского шума
              .introduction__bottom
                p.introduction__text Санаторий известен внутри и за пределами Республики из-за уникальной локации. Расположенный в «Татарстанской Швейцарии» — района, где начинаются Уральские горы, он покоряет красотой своей природы: объятья высоких гор, нескончаемые лесные массивы, множество рек и родников, минеральных вод и питьевых источников. Все это бесповоротно влюбляет гостей санатория в «Ромашкино».
                
              div(class='overflow-hidden introduction__slider')
                include ../components/acceptSlider/index.pug
              include ../components/book/index.pug    
      
      .section
        .container
          .grid
            include ../components/otherSlider/index.pug
        
      .sectoin.directions-care 
        .container
          
          h2.title Мы продумали все <br/> для вашего комфорта
          p.text На территории санатория «Ромашкино» расположены:
          div(class=' grid gap-5 lg2:gap-8 lg2:grid-cols-4')
            
            .trend 
              +svg('sofa').trend__icon
              h4.trend__title 4 спальных корпуса (на 248 гостей)
            .trend 
              +svg('house').trend__icon
              h4.trend__title 2 лечебных корпуса
            .trend 
              +svg('pool2').trend__icon
              h4.trend__title Плавательные бассейны
            .trend 
              +svg('dumbbell').trend__icon
              h4.trend__title Спортзал
            .trend 
              +svg('terrencur').trend__icon
              h4.trend__title 4 терренкура
            .trend 
              +svg('book').trend__icon
              h4.trend__title Библиотека
            .trend 
              +svg('sun3').trend__icon
              h4.trend__title Бильярдная
            .trend 
              +svg('theater').trend__icon
              h4.trend__title Танцевальный зал
          div(class='content-other')
            p.text-other(class=' text-other ') Номера представлены в категориях от класса «эконом» до класса «люкс» — каждый может выбрать подходящий вариант, исходя из своих пожеланий и возможностей.
              
      
      
      include ../sections/team/index.pug
      .section.select-programm 
        .container
          .select-programm__top
            h2.title Выбрать <br/> программу
            p.text В санатории «Ромашкино» вы можете подобрать персональную программу отдыха и восстановления.
          .list
            each item in [1,1,1,1,1,1]
              .item 
                h4.item__title Стандарт
                h5.item__duration 7 дней
                p.item__descr Стандартная программа лечения
          
      include ../sections/virtualtTour/index.pug
      
              

      include ../sections/merit/index.pug
      include ../sections/contacts/index.pug
    include ../sections/footer/index.pug