
extend ../layouts/sanatorium.pug
block content
  include ../sections/introduction-type-1/index.pug
  include ../sections/directionsCare/index.pug
  .section
    .container
      .grid
        include ../components/otherSlider/index.pug
  include ../sections/team/index.pug
  include ../sections/select-programm/index.pug
  include ../sections/virtualtTour/index.pug
  include ../sections/merit/index.pug
  include ../sections/contacts/index.pug
  
