
extend ../layouts/sanatorium.pug
include ../components/svg.pug
block content
  include ../sections/introduction-type-1/index.pug
  include ../sections/directionsCare/index.pug
  .section
    .container
      .grid
        include ../components/otherSlider/index.pug

        
  include ../sections/team/index.pug
  
  .section.select-programm 
    .container
      .select-programm__top
        h2.title Путёвки <br/> и программы
        p.text В санатории «Джалильский» вы можете подобрать программы разной продолжительности и интенсивности в зависимости от ваших потребностей и возможностей.
      .list.col-4
        .item 
          h4.item__title Санаторно-<br/>курортная путевка
          h5.item__duration 7 дней
          p.item__descr Стандартная программа лечения
        .item 
          h4.item__title Оздоровительная <br/> путевка
          h5.item__duration 7 дней
          p.item__descr Оздоровительная программа лечения
        .item 
          h4.item__title Тур выходного дня
          h5.item__duration 2 суток
          p.item__descr Оздоровительная программа лечения
            span заезд после 15:00 пятницы <br/> выезд после 13:00 <br/> воскресенья
        .item 
          h4.item__title Курсовка
          h5.item__duration от 5 дней
          p.item__descr Лечение с питаниемили без питания,с дневным пребыванием в санатории
      .special-programs
        .special-programs__descr 
          +svg('calendar').special-programs__descr-icon
          p.special-programs__descr-text Помимо стандартных путевок, «Джалильский» предлагает специальные выгодные программы продолжительностью от 5 дней.
        .special-programs__list
          .item 
            .item__icon
              +svg('forward-line')
            .item__title Здоровая спина
          .item 
            .item__icon
              +svg('forward-line')
            .item__title Подвижные суставы
          .item 
            .item__icon
              +svg('forward-line')
            .item__title Здоровый ребенок
          .item 
            .item__icon
              +svg('forward-line')
            .item__title Оздоровление после вирусной пневмонии
  include ../sections/virtualtTour/index.pug
  .section.merit 
    .container 
      .merit__wrapper
        h2.title Наши заслуги
        .list 
          .item 
            h4.item__title Лучший санаторий-профилакторий
            p.item__name Здравница-2012
          .item 
            h4.item__title Лучший руководитель здравницы
            p.item__name Здравница-2013
          .item 
            h4.item__title Лучшая здравница для семейного отдыха, Лучшие технологии санаторно-курортного лечения
            p.item__name Здравница-2014
          .item 
            h4.item__title Лучшая здравница для семейного отдыха, Лучший санаторий-профилакторий
            p.item__name Здравница-2015
          .item 
            h4.item__title Лучшие физиотерапевтические технологии, Лучшая здравница для семейного отдыха
            p.item__name Здравница-2016
          .item 
            h4.item__title Лучшая здравница
            p.item__name Здравница-2017
          .item 
            h4.item__title Победитель народного голосования
            p.item__name 100 легендарных брендов Республики Татарстан 2020 год
          .item 
            h4.item__title Лучший санаторий-профилакторий
            p.item__name Здравница-2021
          
  .section.contacts
    .container
      .contacts__wrapper
        .contacts__top.relative
          +svg('call')(class=" lg2:w-[130px] hidden lg2:block lg2:h-[130px]  absolute lg2:right-[-130px] lg2:bottom-[180px]")    
          h4.title До встречи!
          
          p.contacts__text  423368, Республика Татарстан, Сармановский район, п. Джалиль, ул. Лесная, 6.
          p.contacts__text Телефоны для бронирования <br/> пн-пт 07:30—16:30, обед 13:00—13:30
          div
            a(href="tel:+78555967883").contacts__link +7 (85559) 678-83
            a(href="tel:+79196407193").contacts__link +7 (919) 640-71-93
          div.contacts__text
            span E-mail: 
            a(href="mailto:sanat_djalil@tatneft.tatar") sanat_djalil@tatneft.tatar
          div.contacts__soc 
            a(href="https://api.whatsapp.com/send?phone=79196407193" class="soc bg-green")
              +svg('whatsapp',  33)
              span WhatsApp
            a(href="https://vk.com/vk_sanat_djalil" class="soc bg-[#5181B8]")
              +svg('vk',  33)
              span Вконтакте
        .contacts__bottom
          img(src=require('/assets/images/maps/sanatorium-dzhalilskiy-map.png'), alt="")
  
