div(class=" grid gap-5")
  a(href="/") /
  a(href="/about.html" target="_blank") /about.html
  a(href="/camp-berezka.html" target="_blank") /camp-berezka.html
  a(href="/green-scientists.html" target="_blank") /green-scientists.html
  a(href="/health.html" target="_blank") /health.html
  a(href="/horseback-riding.html" target="_blank") /horseback-riding.html
  a(href="/museum.html" target="_blank") /museum.html
  a(href="/rest.html" target="_blank") /rest.html
  a(href="/restaurants.html" target="_blank") /restaurants.html
  a(href="/sanatorium-dzhalilskiy.html" target="_blank") /sanatorium-dzhalilskiy.html
  a(href="/sanatorium-ivolga.html" target="_blank") /sanatorium-ivolga.html
  a(href="/sanatorium-kosmos.html" target="_blank") /sanatorium-kosmos.html
  a(href="/sanatorium-lenigorodkiy.html" target="_blank") /sanatorium-lenigorodkiy.html
  a(href="/sanatorium-romashkino.html" target="_blank") /sanatorium-romashkino.html
  a(href="/sanatorium-shifaly.html" target="_blank") /sanatorium-shifaly.html
  a(href="/sanatorium-vishnevaya-polyana.html" target="_blank") /sanatorium-vishnevaya-polyana.html
  a(href="/sanatorium-yn.html" target="_blank") /sanatorium-yn.html

  a(href="/camp-berezka.html" target="_blank") /camp-berezka.html
  a(href="/camp-chaika.html" target="_blank") /camp-chaika.html
  a(href="/camp-fakel.html" target="_blank") /camp-fakel.html
  a(href="/camp-ivolga.html" target="_blank") /camp-ivolga.html
  a(href="/camp-kosmos.html" target="_blank") /camp-kosmos.html
  a(href="/camp-landish.html" target="_blank") /camp-landish.html
  a(href="/camp-solnechniy.html" target="_blank") /camp-solnechniy.html
  a(href="/camp-vishnevaya-polyana.html" target="_blank") /camp-vishnevaya-polyana.html
  a(href="/camp-yubileynyy.html" target="_blank") /camp-yubileynyy.html
  a(href="/camp-yunost.html" target="_blank") /camp-yunost.html

  a(href="/sport-actuba.html" target="_blank") /sport-actuba.html
  a(href="/sport-almetyevsk.html" target="_blank") /sport-almetyevsk.html
  a(href="/sport-fitness.html" target="_blank") /sport-fitness.html
  a(href="/sport-hasanov.html" target="_blank") /sport-hasanov.html
  a(href="/sport-horseroutes.html" target="_blank") /sport-horseroutes.html
  a(href="/sport-huzin.html" target="_blank") /sport-huzin.html
  a(href="/sport-kentavr.html" target="_blank") /sport-kentavr.html
  a(href="/sport-rangout.html" target="_blank") /sport-rangout.html
  a(href="/sport-shinnik.html" target="_blank") /sport-shinnik.html
  a(href="/sport-yubileynyy.html" target="_blank") 
