include ../components/svg.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .wrapper
      .sidebar#sidebar
        .container
          .sidebar__head 
            a(href="/" class='logo' data-target='sidebar' data-action='close') 
              +svg("logo")
            button.close(data-target='sidebar' data-action='close') 
              +svg("close")
          nav.sidebar__content 
            a(href="/green-scientists.html" data-target='sidebar' data-action='close')  
              +svg("child" ,17,15)
              span Дети

            a(href="/health.html" data-target='sidebar' data-action='close')  
              +svg("health" ,17,17)
              span Здоровье

            a(href="/rest.html" data-target='sidebar' data-action='close')  
              +svg("rest" ,17,14)
              span Отдых

            a(href="/restaurants.html" data-target='sidebar' data-action='close')  
              +svg("nutrition" ,17,17)
              span Питание

            a(href="/sport-actuba.html" data-target='sidebar' data-action='close')  
              +svg("sport" ,17,17)
              span Спорт

            a(href="/museum.html" data-target='sidebar' data-action='close')  
              +svg("culture" ,17,15)
              span Культура

            a(href="/about.html" data-target='sidebar' data-action='close')  
              +svg("about" ,17,17)
              span О компании
      header.header.header__sanatorium
        .container
          .header__wrapper 
            a(href="/" class='logo') 
              +svg("logo")
            button.burger( data-target='sidebar' data-action='open')
              +svg("burger", 35)
            nav
              a(href="/about.html") О компании
              a(href="/health.html") Здоровье
              a(href="/green-scientists.html") Дети
              a(href="/sport-actuba.html") Спорт
              a(href="/rest.html") Отдых
              a(href="/restaurants.html") Питание
              a(href="/museum.html") Культура 
            button.call 
              +svg("phone", 24)
          .header__bg
            img(src=require('/assets/images/field-childs.png') alt="")
      main
        include ../sections/sport/index.pug
        include ../sections/sportInfrastructure/index.pug
        .section.img-content
          .container 
            img(src=require("/assets/images/box.png"), alt="")
            h2.title.img-content__text(class=" right-0 bottom-0 text-right lg2:right-auto lg2:left-0 lg2:top-0 lg2:bottom-auto lg2:text-left") вольная борьба <br/> кикбоксинга <br/> айкидо
        include ../sections/coachingStaff/index.pug
        .section.img-content
          .container 
            img(src=require("/assets/images/tennis.png"), alt="")
            h2.title.img-content__text(class=" bottom-0 lg2:left-0 lg2:top-0 lg2:bottom-auto lg2:text-left") 2 игровых зала <br/> для занятий <br/> большим <br/> теннисом
        include ../sections/prices/index.pug
        include ../sections/contacts/index.pug
      include ../sections/footer/index.pug

      
    
    
