include ../components/svg.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .wrapper
      .sidebar#sidebar
        .container
          .sidebar__head 
            a(href="/" class='logo' data-target='sidebar' data-action='close') 
              +svg("logo")
            button.close(data-target='sidebar' data-action='close') 
              +svg("close")
          nav.sidebar__content 
            a(href="/green-scientists.html" data-target='sidebar' data-action='close')  
              +svg("child" ,17,15)
              span Дети

            a(href="/health.html" data-target='sidebar' data-action='close')  
              +svg("health" ,17,17)
              span Здоровье

            a(href="/rest.html" data-target='sidebar' data-action='close')  
              +svg("rest" ,17,14)
              span Отдых

            a(href="/restaurants.html" data-target='sidebar' data-action='close')  
              +svg("nutrition" ,17,17)
              span Питание

            a(href="/horseback-riding.html" data-target='sidebar' data-action='close')  
              +svg("sport" ,17,17)
              span Спорт

            a(href="/museum.html" data-target='sidebar' data-action='close')  
              +svg("culture" ,17,15)
              span Культура

            a(href="/about.html" data-target='sidebar' data-action='close')  
              +svg("about" ,17,17)
              span О компании
      header.header.header__sanatorium
        .container
          .header__wrapper 
            a(href="/" class='logo') 
              +svg("logo")
            button.burger( data-target='sidebar' data-action='open')
              +svg("burger", 35)
            nav
              a(href="/about.html") О компании
              a(href="/health.html") Здоровье
              a(href="/green-scientists.html") Дети
              a(href="/horseback-riding.html") Спорт
              a(href="/rest.html") Отдых
              a(href="/restaurants.html") Питание
              a(href="/museum.html") Культура 
            button.call 
              +svg("phone", 24)
          .header__bg
            img(src=require('/assets/images/sport/sport-horseroutes.png') alt="")
      main
        .section.sport
          .container
            h2.title Конные <br/>туристические <br/>маршруты
            
            p.subtitle Спортивный комплекс
            
            p.text Верховая езда — отдых, который положительно влияет и на физическое, и на психоэмоциональное состояние. Благодаря взаимодействию с лошадьми, улучшается настроение и участники прогулки ощущают умиротворение и единение с природой.

        include ../sections/horseRoutes/index.pug
        include ../sections/coachingStaff/index.pug    
        .section.img-content
          .container 
            img(src=require("/assets/images/horse4.png"), alt="")
        .section.contacts
          .container
            .contacts__wrapper
              .contacts__top.relative
                +svg('call')(class=" lg2:w-[130px] hidden lg2:block lg2:h-[130px]  absolute lg2:right-[-130px] lg2:bottom-[180px]")    
                h4.title Увидимся!
                
                p.contacts__text  Республика Татарстан, <br/> г. Лениногорск, ул. Горького, д. 5.

                div
                  p.contacts__text Администратор
                  a(href="tel:+78559590089").contacts__link 8-85595-90089
                div
                  p.contacts__text Касса
                  a(href="tel:+78559590085").contacts__link 8-85595-90085
                div
                  p.contacts__text Старший тренер
                  a(href="tel:+78559590087").contacts__link 8-85595-90087
                
                


                
                
                
                
              .contacts__bottom
                img(src=require('/assets/images/maps/sport-horseroutes-map.png'), alt="")
      include ../sections/footer/index.pug

      
    
    
