include ../svg.pug
.general-slider
  .swiper-wrapper
    .swiper-slide
      img(src=require('/assets/images/bg/primary.png'))
      h1.title ОКРУЖИТЕ СЕБЯ <br/> ЗАБОТОЙ
      p.text Открытие нового <br/> санатория, актуальные <br/> смены в детских лагерях
    
  .btn-controls
    .btn-prev
      +svg('back-line')
    .btn-next
      +svg('forward-line')
  .swiper-pagination
