.treatment-programs
  .container 
    h2.title Программы лечения
    p.text Многофункциональный фитнес-центр, который стал одним из столпов поддержания и развития культуры спорта в Альметьевске. Ежедневно с 8 утра до 21 вечера посетителей ждут:
    .treatment-programs__list 
      .item 
        .item__title Групповые занятия
      .item 
        .item__title Детские занятия
      .item 
        .item__title Бассейн (детский и взрослый)
      .item 
        .item__title Банно-оздоровительный комплекс
      .item 
        .item__title Тренажерный зал
      .item 
        .item__title Универсальный зал — 883 кв.м
      .item 
        .item__title Детская комната0