include ../../components/svg.pug
.section.documents
  .container 
    h2.title Документы 
    .documents__wrapper
      .special-programs__list
        .item 
          .item__icon
            +svg('forward-line')
          .item__title Лицензия 
        .item 
          .item__icon
            +svg('forward-line')
          .item__title Сведения о медецинской оргнаизации 
        .item 
          .item__icon
            +svg('forward-line')
          .item__title Время приема гостей руководителем <br/> СОК «Иволга» 
        
