include ../../components/svg.pug
.sidebar#sidebar 
  .container
    .sidebar__head 
      a(href="/" class='logo' data-target='sidebar' data-action='close') 
        +svg("logo")
      button.close(data-target='sidebar' data-action='close') 
        +svg("close")
    nav.sidebar__content 
      a(href="#" data-target='sidebar' data-action='close')  
        +svg("child" ,17,15)
        span Дети

      a(href="#" data-target='sidebar' data-action='close')  
        +svg("health" ,17,17)
        span Здоровье

      a(href="#" data-target='sidebar' data-action='close')  
        +svg("rest" ,17,14)
        span Отдых

      a(href="#" data-target='sidebar' data-action='close')  
        +svg("nutrition" ,17,17)
        span Питание

      a(href="#" data-target='sidebar' data-action='close')  
        +svg("sport" ,17,17)
        span Спорт

      a(href="#" data-target='sidebar' data-action='close')  
        +svg("culture" ,17,15)
        span Культура

      a(href="#" data-target='sidebar' data-action='close')  
        +svg("about" ,17,17)
        span О компании
header.header.header__second  
  .container
    .header__wrapper 
      a(href="/" class='logo') 
        +svg("logo")
      button.burger( data-target='sidebar' data-action='open')
        +svg("burger", 35)
      nav
        a(href="/about.html") О компании
        a(href="/health.html") Здоровье
        a(href="/green-scientists.html") Дети
        a(href="/sport-actuba.html") Спорт
        a(href="/rest.html") Отдых
        a(href="/restaurants.html") Питание
        a(href="/museum.html") Культура 
      button.call 
        +svg("phone", 24)
  .second-slider.relative
    +svg("single-circle")(class="absolute bottom-0 right-5 lg2:bottom-[149px] lg2:right-[200px] w-[115px] h-[115px] lg2:w-[262px] lg2:h-[262px] z-10")
    .swiper-wrapper
      .swiper-slide
        img(src=require("/assets/images/bg/museum.png"))
    .container
      .content
        h2.title Музей нефти
        p.text c. Шугурова
    .btn-controls
      .btn-prev
        +svg('back-line')
      .btn-next
        +svg('forward-line')
    //- .swiper-pagination

  