include ../../components/svg.pug
.sidebar#sidebar
  .container
    .sidebar__head 
      a(href="/" class='logo' data-target='sidebar' data-action='close') 
        +svg("logo")
      button.close(data-target='sidebar' data-action='close') 
        +svg("close")
    nav.sidebar__content 
      a(href="#" data-target='sidebar' data-action='close')  
        +svg("child" ,17,15)
        span Дети

      a(href="#" data-target='sidebar' data-action='close')  
        +svg("health" ,17,17)
        span Здоровье

      a(href="#" data-target='sidebar' data-action='close')  
        +svg("rest" ,17,14)
        span Отдых

      a(href="#" data-target='sidebar' data-action='close')  
        +svg("nutrition" ,17,17)
        span Питание

      a(href="#" data-target='sidebar' data-action='close')  
        +svg("sport" ,17,17)
        span Спорт

      a(href="#" data-target='sidebar' data-action='close')  
        +svg("culture" ,17,15)
        span Культура

      a(href="#" data-target='sidebar' data-action='close')  
        +svg("about" ,17,17)
        span О компании
header.header.header__single
  .container
    .header__wrapper 
      a(href="/" class='logo') 
        +svg("logo")
      button.burger( data-target='sidebar' data-action='open')
        +svg("burger", 35)
      nav
        a(href="/about.html") О компании
        a(href="/health.html") Здоровье
        a(href="/green-scientists.html") Дети
        a(href="/sport-actuba.html") Спорт
        a(href="/rest.html") Отдых
        a(href="/restaurants.html") Питание
        a(href="/museum.html") Культура 
      button.call 
        +svg("phone", 24)
  .single
    .container.relative
      +svg('figures')(class=" w-[89px] h-[89px] lg2:w-[470px] lg2:h-[517px] z-10 lg2:z-0 absolute top-[205px] right-0 lg2:top-0")
      +svg('grass')(class=" lg2:w-[262px] lg2:h-[249px] z-10 lg2:z-0 absolute bottom-[-175px] right-[300px] ")
      .img
        img(src=require("/assets/images/bg/women-field.png"), alt="")
      .single__top 
        h2.title Что такое <br/> ЗАБОТа?
  

  