include ./svg.pug
mixin button-link(text, color, afterIcon, beforeIcon, iconSize)
  if color=== 'green'
    a(class="button button_green")&attributes(attributes)
      if afterIcon
        +svg(afterIcon, iconSize ? iconSize : 15)
      span #{text}
      if beforeIcon
        +svg(beforeIcon, iconSize ? iconSize : 15)
  if color=== 'blue-light'
    a(class="button button_blue-light")&attributes(attributes)
      if afterIcon
        +svg(afterIcon, iconSize ? iconSize : 15)
      span #{text}
      if beforeIcon
        +svg(beforeIcon, iconSize ? iconSize : 15)
  if color=== 'orange'
    a(class="button button_orange")&attributes(attributes)
      if afterIcon
        +svg(afterIcon, iconSize ? iconSize : 15)
      span #{text}
      if beforeIcon
        +svg(beforeIcon, iconSize ? iconSize : 15)
  if color=== 'border'
    a(class="button button_border")&attributes(attributes)
      if afterIcon
        +svg(afterIcon, iconSize ? iconSize : 15)
      span #{text}
      if beforeIcon
        +svg(beforeIcon, iconSize ? iconSize : 15)
    