include ../../components/svg.pug
.camp-infrastructure 
  .container 
    .camp-infrastructure__top
      h2.title Спорт для комплексного развития
      p.text Чтобы отдыхающие проводили больше времени на свежем воздухе, в лагере предусмотрены площадки для самых разных активностей.
    .camp-infrastructure__list 
      .item
        .item__icon 
          +svg('river')
        .item__title Открытый плавательный бассейн
      .item
        .item__icon 
          +svg('ball')
        .item__title Стадион с футбольной площадкой
      .item
        .item__icon 
          +svg('batute')
        .item__title Батуты
      .item
        .item__icon 
          +svg('kikboks')
        .item__title Надувная полоса препятствий
      .item
        .item__icon 
          +svg('bitter')
        .item__title Игровая площадка
      .item
        .item__icon 
          +svg('note')
        .item__title Сцена и танцплощадка