.section.placement
  .container
    h2.title Размещение
    p.text Для гостей базы отдыха предусмотрено несколько вариантов размещения: стандартные двухкомнатные домики вагонного типа на 4 человека, одноэтажный дом повышенной комфортности на 6 человек и двухэтажный дом повышенной комфортности на 9 человек.     
    .accept
      .grid.slider
        div(class='overflow-hidden')
          include ../../components/acceptSlider/index.pug