@tailwind components;

@layer components {
  /* button */
  .button {
    @apply w-full px-4 h-[3.125rem] text-d16 lg2:text-d14 flex gap-2 justify-center items-center;

    &_green {
      @apply bg-green text-white;
    }
    &_blue-light {
      @apply bg-blue-light text-white;
    }
    &_orange {
      @apply bg-orange text-white;
    }

    &_border {
      @apply bg-transparent border border-white text-white;
    }
  }

  .btn-prev,
  .btn-next {
    @apply w-9.5 h-9.5 lg2:w-14.25 lg2:h-14.25 rounded-full grid  place-content-center;
    & > svg {
      @apply w-3 h-3 lg2:w-5 lg2:h-5;
    }
  }
  /* input */
  .field {
    @apply w-full;
    & input {
      @apply border border-blue px-3.5 text-d19 h-[3.25rem] w-full lg2:text-d16 lg2:px-5;
      @apply placeholder:text-blue focus:outline-blue/80 focus:bg-white_darken/10;
      @apply trans-300;
    }
    &__invalid input {
      @apply border-orange;
    }
  }

  .checkbox-other {
    @apply text-blue block cursor-pointer  relative;
    user-select: none;
    opacity: 0.8;
  }

  .checkbox-other input[type='checkbox'] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }

  .checkbox-other p {
    @apply inline-block text-d21 lg2:text-d18 relative;
    padding: 0 0 0 28px;
  }

  .checkbox-other p:before {
    content: '';
    @apply w-5 h-5 absolute top-0 left-0 border border-blue rounded-full;
  }

  input.checkbox_invalid + p:before {
    border: 1px solid red;
  }

  /* Checked */
  .checkbox-other input[type='checkbox'] + p:after {
    content: '';
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .checkbox-other input[type='checkbox']:checked + p:after {
    @apply absolute w-2.5 h-2 left-[0.3rem] top-1.5;
    position: absolute;
    content: '';

    background-image: url(../assets/icons/other/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 1;
  }

  .checkbox-other input[type='checkbox']:checked + p:before {
    background: theme(colors.blue);
  }

  /* Focus */
  .focused p:before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  /* Hover */
  .checkbox-other p:hover:after {
    filter: brightness(110%);
  }

  /* Active */
  .checkbox-other p:active:before,
  .checkbox-other p:active:after {
    /* filter: brightness(30%); */
  }

  /* Disabled */
  .checkbox-other input[type='checkbox']:disabled + p {
    color: #666;
    cursor: default;
  }

  .checkbox-other input[type='checkbox']:disabled + p:before,
  .checkbox-other input[type='checkbox']:disabled + p:after {
    filter: grayscale(100%);
    opacity: 0.6;
  }

  .checkbox__link {
    text-decoration: underline;
  }

  .drop {
    @apply bg-[#EDF5FD] py-[1.94rem] pl-[1.81rem] pr-[1.19rem] grid gap-4 content-start w-full text-d30;
    @apply lg2:max-w-[38.75rem] lg2:text-d11 lg2:gap-[1.81rem] lg2:py-[3.19rem] lg2:pl-[3.5rem] lg2:pr-[3.13rem];
    &__icon {
      @apply w-[2.625rem] h-[2.9325rem];
      @apply lg2:w-[6.25rem] lg2:h-[7.125rem];
    }
  }

  .trend {
    @apply pt-[1.69rem] pb-[1.31rem] px-3 bg-[#EDF5FD] grid gap-4;
    @apply lg2:gap-10 lg2:content-between lg2:px-7.5;
    &__icon {
      @apply w-8 h-8;
      @apply lg2:w-14 lg2:h-14;
    }
    &__title {
      @apply text-d31;
      @apply lg2:text-d11;
    }
  }

  .special-programs {
    @apply grid gap-6 mt-24;
    @apply lg2:grid-cols-2 lg2:gap-7.5 lg2:mt-30;
    &__descr {
      @apply bg-[#EDF5FD] pt-8 px-7.5 pb-7.5 grid gap-5 content-start;
      @apply lg2:w-[620px] lg2:px-14 lg2:py-[50px] lg2:gap-10;
      &-icon {
        width: 50px;
        height: 50px;
        @screen lg2 {
          width: 104px;
          height: 104px;
        }
      }
      &-text {
        @apply text-d30;
        @apply lg2:text-d11;
      }
    }
    &__list {
      @apply grid gap-5;

      .item {
        @apply flex gap-9;
        @apply lg2:gap-12 lg2:py-4;
        &__icon {
          flex-shrink: 0;
          width: 31px;
          height: 31px;
          @apply rounded-full border border-blue grid place-content-center;
          @screen lg2 {
            width: 58px;
            height: 58px;
          }
          & > svg {
            width: 12px;
            height: 10px;
            @screen lg2 {
              width: 20px;
              height: 18px;
            }
          }
        }
        &__title {
          @apply pt-1 text-base_m;
          @apply lg2:text-base;
        }
      }
    }
  }

  .directions {
    @apply flex;
    .item {
    }
  }
}
