.section.camp-occupational
  .container
    h2.title Трудотерпия
    p.text В лагере есть устоявшаяся традиция трудового воспитания детей: в зависимости от возраста, отдыхающие привлекаются к разным активностям.
    .camp-occupational__list-wrapper
      .camp-occupational__list 
        .item 
          .item__title Уборка постелей
        .item 
          .item__title Уборка спальных комнат
        .item 
          .item__title Дежурство по столовой
        .item 
          .item__title Уборка территории лагеря
    .camp-occupational__content-other.content-other
      p.content-other__text День для помещения родителями — воскресенье, один раз за смену. В другие дни посторонних на территорию лагеря не допускают.
      p.content-other__info Передавать путевки другим лицам запрещено.
    
